@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.wrapper {
  max-width: func.rem(1920);
  padding-right: func.rem(60);
  padding-left: func.rem(60);
  margin: 0 auto;

  @include mixins.mobile {
    padding-right: func.rem(15);
    padding-left: func.rem(15);
  }
}
