@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.hiddenInput {
  display: none;
}

.input {
  width: 100%;
  margin: 0 0 27px;

  @include vp-1023 {
    margin: 0 0 15px;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include vp-1023 {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 6px;
    }
  }

  input,
  textarea {
    max-width: 540px;
    width: 100%;
    padding: 11px;
    border-radius: 50px;
    border: 1px solid $color-light-grey2;
    transition: border $trans-default;

    @include hover-focus {
      border: 1px solid $color-kournikova;
    }

    &:active,
    &:focus-visible {
      border: 1px solid $color-kournikova;
      outline: none;
    }

    @include vp-1023 {
      max-width: 100%;
      padding: 8px;
    }
  }

  &:last-child {
    margin: 0 0 33px;
  }
}

.textarea {
  @include vp-1023 {
    margin: 0 0 38px;
  }

  span {
    align-self: flex-start;
  }

  textarea {
    border-radius: 20px;
    min-height: 236px;
    height: auto;

    @include vp-1023 {
      min-height: 153px;
    }
  }
}

.customLabel {
  font-family: $ff-fira;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  display: inline-block;
  width: 150px;

  @include vp-1023 {
    width: 100%;
    letter-spacing: -0.6px;
  }
}

.deliveryChange {
  display: flex;
  flex-direction: row;

  @include vp-1023 {
    margin: 0 0 36px;
  }
}

.customWrapperRadio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  max-width: 540px;
  width: 100%;

  @include vp-1023 {
    max-width: 100%;
    flex-direction: column;
    gap: 14px;
  }

  .customToggle {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    width: 100%;
    max-width: 255px;

    @include vp-1023 {
      max-width: 100%;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      border: 1px solid $color-light-grey2;
      background-color: transparent;
      max-width: 255px;
      width: 100%;
      height: 48px;
      border-radius: 50px;
      transition: border $trans-default;

      cursor: pointer;
      user-select: none;

      @include hover-focus {
        border: 1px solid $color-dim-gray;
      }

      &.checked {
        border: 1px solid $color-kournikova;

        @include hover-focus {
          cursor: not-allowed;
          border: 1px solid $color-kournikova;
        }
      }

      @include vp-1023 {
        max-width: 100%;
        flex-direction: row;
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 12px;

  @include vp-1023 {
    margin: 0 0 17px;
  }

  button {
    font-family: $ff-fira;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: $color-default-black;

    background-color: $color-kournikova;
    border-radius: 50px;
    max-width: 350px;
    width: 100%;
    padding: 14px 20px;
    outline: none;

    transition: outline $trans-default, background-color $trans-default;

    @include hover-focus {
      color: $color-kournikova;
      background-color: transparent;

      outline: 1px solid $color-kournikova;
    }

    @include vp-1023 {
      font-size: 14px;

      max-width: 100%;
      padding: 15px 20px;
    }
  }
}

.customToggle .customLabelCheckbox {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color-default-black;

  border: none;
  max-width: 350px;
  width: 100%;
  margin: 0 0 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 18px;

  position: relative;
  cursor: pointer;

  &.checked {
    border: none;
  }

  @include vp-1023 {
    max-width: 100%;
    margin: 0;
    gap: 16px;
  }

  .customToggleText {
    margin: 0 0 0 38px;
  }
}

.customInputCheckbox {
  display: none;
}

.customControlMark {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $color-light-grey2;
  background-color: $color-default-white;
  border-radius: 5px;

  transition: border $trans-default;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-color: $color-kournikova;
    border-radius: 3px;

    opacity: 0;
    visibility: hidden;
    transition: opacity $trans-default, visibility $trans-default, background-color $trans-default;
  }
}

.customInputCheckbox[type="checkbox"]:hover + .customControlMark {
  border: 1px solid $color-kournikova;
}

.customInputCheckbox[type="checkbox"]:checked + .customControlMark {
  border: 1px solid $color-kournikova;
}

.customInputCheckbox[type="checkbox"]:checked + .customControlMark::before {
  opacity: 1;
  visibility: visible;
}

.privacyPolicyLink {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: $color-kournikova;

  border-bottom: 0.5px solid $color-kournikova;

  transition: border-bottom $trans-default;

  @include hover-focus {
    border-bottom: none;
  }
}

.statusError {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $color-free-speech-red;
  text-align: start;
  text-transform: uppercase;

  margin: 0 0 0 auto;
  width: fit-content;

  @include vp-1023 {
    margin: 0 auto 0 0;
  }
}

.input.error input,
.textarea.error textarea {
  border: 1px solid $color-free-speech-red;
}

.customToggle.error .customControlMark {
  border: 1px solid $color-free-speech-red;
}
