@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1035px;

  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  @include vp-1023 {
    margin: 50px auto 0 auto;
    gap: 54px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
    align-items: flex-end;

    max-width: 320px;
    margin: 0 auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 55px;

  @include vp-767 {
    gap: 24px;
  }

  .image {
    position: relative;
    height: 185px;

    display: flex;
    align-items: center;

    @include vp-1023 {
      height: 124px;
    }

    svg {
      position: relative;
      z-index: 1;
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 142px;
      width: 142px;
      border-radius: 50%;
      background-color: $color-kournikova;

      @include vp-767 {
        height: 95px;
        width: 95px;
      }
    }
  }

  span {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: $color-default-black;
    text-align: center;

    max-width: 200px;

    @include vp-767 {
      font-size: 16px;
      line-height: 19px;
      max-width: 120px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: $color-default-black;
    text-align: center;

    max-width: 254px;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 17px;
      max-width: 500px;
    }
  }
}
