@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  column-gap: 100px;
  row-gap: 54px;

  @include vp-1023 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;

    max-width: 320px;
    margin: 0 auto;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 55px;

  @include vp-1023 {
    gap: 24px;
  }

  .image {
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;

    img {
      position: relative;

      @include vp-1023 {
        max-height: 124px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 142px;
      width: 142px;
      border-radius: 50%;
      background-color: $color-kournikova;

      @include vp-1023 {
        height: 95px;
        width: 95px;
      }
    }
  }

  span {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: $color-default-black;
    text-align: center;

    max-width: 142px;

    @include vp-1023 {
      font-size: 16px;
      line-height: 19px;
      max-width: 120px;
    }
  }
}
