@import '../../../../style/variables.scss';
@import '../../../../style/mixins.scss';

.shoppingBasket {
  justify-self: end;
  margin: 0 11px 10px 0;

  a {
    opacity: 1;
    transition: opacity $trans-default;

    img {
      width: auto;
      height: auto;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  @include vp-1023 {
    grid-column: span 2;
    justify-self: start;
    margin: 0 0 24px;

    a img {
      width: 23px;
      height: 21px;
    }
  }
}
