@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.basket {
  justify-self: end;
  margin: 0 func.rem(11) func.rem(10) 0;

  a {
    opacity: 1;
    transition: opacity variables.$transition;

    img {
      width: func.rem(28);
      height: func.rem(30);
    }

    @include mixins.hover-focus {
      opacity: 0.8;
    }
  }

  @include mixins.mobile {
    display: inline-block;
    grid-column: span 2;
    justify-self: start;
    margin: func.rem(13) 0;
    
    width: func.rem(23);
    height: func.rem(21);
      
    img {
      width: func.rem(23);
      height: func.rem(21);
    }
  }
}
