@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.linkNew {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border: 1px solid $color-kournikova;
  outline: none;
  border-radius: 50px;
  background-color: $color-kournikova;
  color: $color-default-black;
  padding: 14px 58px;

  transition: background-color $trans-default;

  @include hover-focus {
    color: $color-kournikova;
    background-color: transparent;
    outline: none;
  }

  @include vp-1023 {
    font-size: 14px;
    padding: 9px 34px;
  }
}
