@import '@styles/func';
@import '@styles/variables';
@import '@styles/mixins';

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(5);
  user-select: none;

  span {
    font-family: $ff-roboto;
    font-size: rem(32);
    font-weight: 400;
    line-height: rem(41);
    letter-spacing: rem(-1);
    color: var(--color-white-default);
    text-transform: uppercase;
  }

  @include mobile {
    gap: rem(9);

    span {
      font-size: rem(19);
      line-height: rem(18);
    }
  }
}
