@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 26px 0 0;
  user-select: none;
  opacity: 1;
  transition: opacity $tf-default;

  span {
    font-family: $ff-roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -1px;
    color: $color-default-white;
    text-transform: uppercase;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1023 {
    gap: 4px;
    margin: 2px 0 0 3px;

    img {
      width: 46px;
      height: 55px;
    }

    span {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
