// breakpoints
$desktop: 1440px;
$mobile: 1023px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transitions
$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// typograph
$ff-fira: "Fira Sans", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;
$ff-rouble: "Rouble", "Arial", sans-serif;
