@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.root {
  padding: 0 0 50px;

  .container {
    max-width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
  }
}

.linkReturn {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  max-width: 1230px;
  width: 100%;;
  margin: 0 auto;
  padding: 9px 60px 19px;

  @include vp-1023 {
    padding: 9px 40px 19px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.wrapperForm {
  position: relative;
  max-width: 255px;
  max-height: 364px;
  margin-top: 45px;

  grid-area: unset;

  @include vp-1023 {
    display: none;
  }
}

.aboutWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px 36px;

  @include vp-1023 {
    padding: 0 40px 35px;
  }

  @include vp-767 {
    padding: 0 15px;
    flex-direction: column;
  }

  .bottleImg {
    margin: 0 0 0 95px;
  }
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-top: 45px;
  margin-left: 75px;

  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    color: $color-default-black;
    margin: 0;
  }

  .description,
  .strength,
  .size {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: $color-default-black;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      font-weight: 300;
    }
  }

  .price {
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    color: $color-default-black;
    margin: 0;
    padding: 8px 0 5px;

    span {
      font-weight: 300;
      font-size: 18px;
    }
  }

  button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $color-default-black;

    background-color: $color-kournikova;
    border-radius: 50px;
    width: 100%;
    max-width: 175px;
    padding: 13px 20px;
    margin: 0;
    outline: none;

    transition: color $trans-default, outline $trans-default, background-color $trans-default;

    @include hover-focus {
      color: $color-kournikova;
      outline: 1px solid $color-kournikova;
      background-color: transparent;
    }

    &:disabled {
      background-color: $color-light-grey;
      color: $color-default-white;
      pointer-events: none;
    }

    @include vp-767 {
      max-width: 100%;
    }
  }
}

.info {
  position: relative;
}

.infoWrapper {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;

  @include vp-1023 {
    padding: 0 40px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  button {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: $color-default-black;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 7px;
    padding: 25px 36px;

    &:disabled {
      font-weight: 500;
    }
  }

  svg {
    &:last-child {
      transform: rotateY(180deg);
    }
  }
}

.content {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: $color-night-rider;

  padding: 21px 20px 34px 91px;
}

.contentList {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}

.contentItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: $color-night-rider;
}

.more {
  padding: 36px 0 70px;
}

.moreWrapper {
  max-width: 1230px;
  width: 100%;;
  margin: 0 auto;
  padding: 0 60px;

  @include vp-1023 {
    padding: 0 40px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.subtitle {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  padding: 0 0 20px;
}

.moreList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  margin: 0 auto;
}

.moreSwiper {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.swiperSlide {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.navigationPrev {
  transform: rotate(180deg);
  left: 60px;

  @include vp-1023 {
    left: 40px;
  }

  @include vp-767 {
    left: 15px;
  }
}

.navigationPrev,
.navigationNext {
  @include vp-767 {
    position: absolute;
    top: 50%;
    width: 23px;
    cursor: pointer;
    z-index: 2;
  }
}

.navigationNext {
  right: 60px;

  @include vp-1023 {
    right: 40px;
  }

  @include vp-767 {
    right: 15px;
  }
}
