@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.root {
  margin: 5px auto;
  width: 100%;
  max-width: 280px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    svg {
      fill: $color-asparagus;
    }

    &.active {
      color: $color-kournikova;
    }

    &:disabled {
      svg {
        fill: $color-light-grey;
      }
    }
  }
}

.buttonPrev {
  width: 48px;
  height: 18px;
}

.buttonNext {
  transform: rotate(180deg);
  width: 48px;
  height: 18px;
}

.pageNumbers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pageButton {
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  color: $color-light-slate-grey;
}

.dots {
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  color: $color-light-slate-grey;
}
