// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-aubergine:                   #262022;
$color-kournikova:                  #fdcf55;
$color-nero:                        #292929;
$color-asparagus:                   #769b54;
$color-nero-2:                      #222222;
$color-gainsboro:                   #dfdfdf;
$color-very-light-grey:             #c7c7c7;
$color-dim-gray:                    #6c6c6c;
$color-free-speech-red:             #cc0000;
$color-light-slate-grey:            #868e96;
$color-light-grey:                  #d6d6d6;
$color-eclipse:                     #3c3c3c;
$color-night-rider:                 #323232;


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        20px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-fira:                           "Fira Sans", "Arial", sans-serif;
$ff-roboto:                         "Roboto", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-600:                         0.6s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// breakpoints
$desktop: 1440px;
$tablet: 1024px;
$tablet-small: 768px;
$mobile-large: 767px;
$mobile: 375px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dpi;
