@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.root {
  position: relative;
  padding: 55px 0 134px;

  @include vp-1023 {
    padding: 36px 0 70px;
  }

  .reasonsList svg {
    width: 100%;
    max-width: 285px;
    height: 185px;

    @include vp-767 {
      max-width: 139px;
      height: 124px;
    }
  }
}

.img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.title {
  svg {
    fill: $color-asparagus;
  }

  @include vp-1023 {
    padding: 0 0 9px;
  }
}
