@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.root {
  margin: 0 0 0 20px;
  grid-row: 2 / 5;
  grid-column: 2 / 3;

  @include vp-1023 {
    margin: 0;
    grid-row: unset;
    grid-column: unset;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include vp-767 {
    gap: 33px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 214px);
  justify-content: space-between;
  row-gap: 47px;

  padding: 0;
  margin: 0;
  list-style: none;

  max-width: 784px;
  width: 100%;

  @include vp-1023 {
    max-width: 100%;
    justify-items: center;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    padding: 0 57px;
  }
}

.banner {
  position: relative;
  min-height: 141px;
  margin: 0 0 0 -20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include vp-767 {
    min-height: unset;
    margin: 0 0 9px;
  }
}

.bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include vp-767 {
    gap: 22px;
    padding: 37px 0;
  }

  span {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: $color-kournikova;

    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    img:last-of-type {
      transform: rotate(-180deg);
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 36px;
    }
  }

  p {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: $color-default-white;

    margin: 0;

    @include vp-767 {
      font-size: 25px;
      line-height: 30px;
    }
  }
}

.bannerImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 141px;
  border-radius: 5px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-default-black;
    opacity: 0.7;
    border-radius: 5px;
  }

  img {
    border-radius: 5px;
    width: 100%;
    height: 141px;
    object-fit: cover;
    background-color: $color-aubergine;

    @include vp-767 {
      height: 100%;
    }
  }

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    height: 100%;
  }
}
